@page
@model IndexModel
@{
	//一个 .cshtml 文件，其中包含使用 Razor 语法的 C# 代码的 HTML 标记

	ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
